@import "tailwindcss";

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}

/* Define your design tokens here */
@theme {
  /* your brand color */
  --color-primary: #5F71FF;

  /* optional: a hover shade */
  --color-primary-600: #4E5CF0;
}

::-webkit-scrollbar{
  @apply hidden
}
